@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('OpenSans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('OpenSans/OpenSans-Bold.ttf');
}
