.banner .owl-dots{
    -webkit-transform: translateY(-36px);
       -moz-transform: translateY(-36px);
         -o-transform: translateY(-36px);
            transform: translateY(-36px);
}
.carousel-banner .item-carousel h2{
  font-family: 'OpenSans';
}

.carousel-banner{
    height: 450px;
    position: relative;
}

.pelicula{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.16);
  z-index: 100;
}

.carousel-banner .prev,
.carousel-banner .next{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    width: 100px;
    cursor: pointer;
    display: none;
    padding-top: 135px;
    text-align: center;
    transition: all .2s linear;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
    z-index: 3;
}

.carousel-banner:hover .prev,
.carousel-banner:hover .next{
    opacity: 1;
}

.carousel-banner .next{
    right: 0;
    left: auto;
    background: -moz-linear-gradient(right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3bffffff',GradientType=1 );
}

.carousel-banner .prev:hover{
    background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.carousel-banner .next:hover{
    background: -moz-linear-gradient(right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3bffffff',GradientType=1 );
}

.carousel-banner .item-carousel{
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s linear;
    background: #eee no-repeat center center;
    background-size: cover;
}

.carousel-banner .item-carousel .box{
    padding-top: 90px;
    text-align: center;
}
.carousel-banner .item-carousel .box .box-esquerda{
    z-index: 110;
}

.carousel-banner .item-carousel h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    position: relative;
    word-wrap: break-word;
    letter-spacing: -1px;
    transition: all 1.2s linear;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
    margin-top: 100px;
    z-index: 1100;
}

.carousel-banner .item-carousel .button-carousel{
  font-family: 'OpenSans';
  font-weight: 900;
  color: #152C1B !important;
  top: 20px;
  font-size: 16px;
  margin: 44px 0;
  padding: 8px 32px;
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff !important;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
  transition: all .2s linear;
  z-index: 1100;
  border-radius: 30px;
}

.carousel-banner .item-carousel .button-carousel:hover{
    transform: translateY(-1px) scale(1.01,1.01);
    box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.5);
}

.carousel-banner .item-carousel .button-carousel:active{
    transform: translateY(1px) scale(0.99,0.99);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
}

.carousel-banner .prev{
  left: 0;
}
.carousel-banner .next{
  right: 0px;
}

@media (min-width: 576px) {
    .carousel-banner .prev,
    .carousel-banner .next{
      display: block;
    }
    .carousel-banner .prev{
      left: -25px;
    }
    .carousel-banner{
        height: 450px;
    }
    .carousel-banner .prev{
      left: 0;
    }
    .carousel-banner .next{
      right: 0px;
    }
    .carousel-banner .prev,
    .carousel-banner .next{
        padding-top: 140px;
    }
    .carousel-banner .item-carousel .box{
        padding-top: 200px;
        text-align: left;
    }
    .carousel-banner .item-carousel .box.box-direita{
        float: right;
        text-align: right;
        padding-left: 0px;
        padding-right: 50px;
    }
    .carousel-banner .item-carousel .button-carousel{
        font-size: 20px;
        padding: 10px 32px;
    }
    .carousel-banner .item-carousel h2{
        font-size: 42px;
        margin-left: 0px;
        margin-top: 55px;
        line-height: 50px;
    }
    .carousel-banner .item-carousel .button-carousel{
        margin: 30px 0;
        margin-left: 0px;
    }

}

@media (min-width: 768px) {
    .carousel-banner{
        height: 525px;
    }
    .carousel-banner .prev,
    .carousel-banner .next{
        padding-top: 146px;
        opacity: 0;

    }
    .carousel-banner .item-carousel .box{
        width: 77%;
        padding-top: 128px;
        padding-left: 50px;
    }
    .carousel-banner .item-carousel h2{
        font-size: 45px;
        margin-left: -25px;
        margin-top: 114px;
        line-height: 55px;
    }
    .carousel-banner .item-carousel .button-carousel{
        margin: 30px 0;
        margin-left: -25px;
    }
}

@media (min-width: 992px) {
    .carousel-banner{
        height: 550px;
    }
    .carousel-banner .prev,
    .carousel-banner .next{
        padding-top: 190px;
    }
    .carousel-banner .item-carousel .box{
        padding-top: 200px;
    }
    .carousel-banner .item-carousel h2{
      margin-left: 0;
      line-height: 45px;
      font-size: 45px;
      margin-top: 70px;
    }
    .carousel-banner .item-carousel .button-carousel{
        margin: 40px 0;
    }
}

@media (min-width: 1200px) {
    .carousel-banner{
        height: 550px;
    }
    .carousel-banner .prev,
    .carousel-banner .next{
        padding-top: 320px;
    }
    .carousel-banner .item-carousel .box{
        padding-top: 290px;
        width: 75%;
    }
    .carousel-banner .item-carousel h2{
      margin-top: -20px;
      margin-left: 0;
      font-size: 60px;
      line-height: 66px;
      font-weight: 600;
      word-spacing: 8px;
    }
    .carousel-banner .item-carousel .button-carousel{
        margin: 30px 0;
    }

}
