footer{
  background-color: #152C1B;
  color: #fff;
  padding-top: 50px;
  overflow: hidden;
}
footer a{
  color: #fff;
}
/* Cria a linha branca embaixo das informações do rodapé */
footer .rodape{
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-bottom: 20px;
}
footer .copyright{
  padding: 35px 0;
}
footer span,p{
  font-size: 14px;
}
footer h4{
  color: #1AD670;
  padding: 30px 0 0 0;
}
/* Distância de cima da logo da PJA */
footer .col1 img{
  padding-bottom: 30px;
}
/* Distância das informações  do Acesso Rápido */
footer .col2 span{
  line-height: 38px;
}
footer .col2 .links{
  padding-top: 10px;
}
/* Formatações das informações de contato (SAC) */
footer .col3 .sac{
  padding-top: 10px;
  line-height: 27px;
}
footer p.cn {
  padding-top: 10px;
}
footer span.txt-ca {
  position: relative;
}
footer span.txt-cn {
  position: relative;
}
/*Posição das imagens das Redes Sociais  */
footer img.redesocial-img {
  position: relative;
  left: -28px;
  padding-left: 14px;
  padding-top: 10px;
}
footer .redesocial {
  padding-bottom: 20px;
}
/* Caixa do PJAchados */
footer .pjachados{
  background-color: #fff;
  color: #152C1B;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  padding: 4px 0px;
  border: none;
  border-radius: 15px;
  margin-top: 6px;
  width: 185px;
}
@media (min-width: 768px) {
  footer{
    text-align: inherit;
  }
  footer h4{
    padding: 0 0 0 0;
  }
}
