section.posts{
  padding-top: 50px;
  padding-bottom: 50px;
}
section.posts h2{
  font-size: 30px;
  margin-bottom: 15px;
}
section.posts .post{
  margin-bottom: 30px;
}
section.posts .post-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
}
section.posts .card {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}
section.posts .avatar{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 190px;
  border-radius: 50%;
}
section.posts .card:hover {
  box-shadow: -1px 0px 28px -7px rgba(0,0,0,0.5);
}
section.posts .post-txt{
  background-color: #fff;
  padding: 25px;
}
section.posts .post-txt h3{
  color: #152C1B;
  height: 80px;
  margin-top: 18px;
}
section.posts .cat-dat{
  margin-top: 24px;
  margin-bottom: -10px;
}
/* section.posts .cat-dat:after {
  content: '';
  width: 92%;
  border-bottom: solid 1px rgba(0,0,0,0.5);
  position: absolute;
  left: 15px;
  bottom: 54px;
  z-index: 1;
} */
section.posts .post-txt .categoria{
  color: #1AD670;
  font-weight: 900;
  font-size: 16px;
}
section.posts .post-txt .post-data{
  font-size: 14px;
  font-weight: 600;
}
section.posts .post-txt .post-resumo{
  margin-top: 10px;
  height: 80px;
  color: #000;
}
span.autor-post {
  position: relative;
  left: 70px;
  bottom: 28px;
}

a.cat-selecionada {
  background-color: #1AD670;
  position: relative;
  float: right;
  font-size: 13px;
  right: 15px;
  top: 15px;
  padding: 5px;
  border-radius: 10px;
  color: #fff !important;
}



.pagination{
  padding: 0;
  margin: 10px 0;
  display: block;
  text-align: center;
}
.pagination li{
  margin: 0 -2px;
  color: #1ad670;
  font-size: 18px;
  list-style: none;
  /*border-radius: 5px;*/
  display: inline-block;
  background-color: #fff;
  border: solid #1ad670;
  border-width: 2px 0 2px 2px;
}
.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}
.pagination li:last-child{
  border-radius: 0 5px 5px 0;
  border-width: 2px;
}
.pagination li a{
  color: inherit;
  padding: 8px 14px;
  display: inline-block;
  text-decoration: none;
}
.pagination li.disabled{
  background-color: #ddd;
}
.pagination li.active{
  background-color: #1ad670;
}
.pagination li.disabled,
.pagination li.active{
  color: #fff;
  padding: 8px 12px;
  border: 2px solid #1ad670;
}
.pagination li a:hover{
  background-color: #f0f0ff;
}
