body{
  background-color: #F7F7F7 !important;
}
.alert.alert-danger{
  margin-top: 12px;
}
section.login{
  /* position: absolute;
  left: 40%;
  margin-left: -80px;
  top: 15%; */
  /* position: relative; */
}
section.login .formulario{
   position: absolute;
   /* top: 50%; */
   left: 50%;
   transform: translate(-50%,-50%);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   margin-top: 220px;
}
section.login form{
  width: 315px;
  background-color: #FFF;
  height: 425px;
  border-radius: 30px;
  /* padding: 50px 10px 10px 10px; */
  margin: 120px 0px 25px 0px;
}
section.login form .logo {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
section.login form .logo p{
  color: #000;
  font-size: 18px;
  font-weight: 800;
  padding-top: 20px;
}
section.login .logo img{
  width: 120px;
}
section.login input{
  width: 90%;
  height: 50px;
  color: #C4C4C4;
  border-radius: 20px;
  border: none;
  border:solid 1px #C4C4C4;
  margin-bottom: 10px;
  padding-left: 10px;
  display: block;
  margin: auto;
}
section.login input:focus {
  outline: none !important;
  border:1px solid #1AD670;
  border-radius: 20px;
}

input[type=text], input[type=password] {
  display: block;
  margin: auto;
  width: 90%;
  border: 1px solid #818181;
  padding: 5px;
}

section.login .form-button{
  text-align: center;
}
section.login button.login{
  width: 158px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #1AD670;
  font-size: 18px;
  color: #fff;
}
section.login .lembrar{
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}
section.login .lembrar label{
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
section.login input[type=checkbox]{
  width: 15px;
  margin-right: 5px;
}
@media all and (min-width:576px) {
  section.login form{
    width: 425px;
    /* margin: 0px 0px 25px 0px; */
  }

}
@media all and (min-width:768px) {

}
