*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background-color: rgba(46, 149, 70, .8);
}

html,
body{
    height: 100%;
    background-color: #F7F7F7;
    font-family: 'OpenSans', sans-serif;
}

a{
  /* color: inherit !important; */
  text-decoration: none !important;
}

.container{
    /*background-color: rgba(255, 12, 100, 0.1);*/
}

.hideFadeDown{
    opacity: 0;
    transform: translateY(120px);
}

.hideFadeDownTime{
    transition: all .7s ease-out;
}

@media all and (min-width:576px) {}
@media all and (min-width:768px) {}
@media all and (min-width:992px) {}
@media all and (min-width:1200px) {}
