.header {
  position: fixed;
  width: 100%;
  z-index: 9999999999999999999;
}
.active1 {
 width: 100%;
 background-color: #fff;
 box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
 transition: all ease-out .5s;
 height: ;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #152C1B;
}
.active2{
  color: #152C1B !important;
}

.header li a:hover{
  color: #152C1B !important;
}
.header .menu .btn-menu:hover{
  background-color: rgba(46, 149, 70, .8);
}

.header .logo {
  background-image: url('../images/pjajudaa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 184px;
  height: 84px;

  display: block;
  float: left;
  font-size: 2em;
  padding: 4px 20px;
  /* margin-top: 10px; */
  text-decoration: none;
}
.active3{
  background-image: url('../images/pjajuda2.svg') !important;
}
.header .logo img{
  width: 184px;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #fff;
}
.header .menu .btn-menu{
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  color: #152C1B;
  font-size: 16px !important;
  font-weight: 700 !important;
  border-radius: 30px;
  position: relative;
  bottom: -23px;
  display: none;
}
.active4{
  background-color: #1AD670 !important;
  color: #fff !important;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header .proteste{
  display: block;
}
@media all and (min-width:768px) {
  .active1 {
   height: 72px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: transparent;
  }
  .header li {
    float: left;
  }
  .header .menu-icon {
    display: none;
  }
  .header li a {
    padding: 32px 10px;
  }
  .header .proteste{
    display: none;
  }
  .header .menu .btn-menu{
    display: block;
  }
  .header li a {
    color: #fff;
  }

}

@media (min-width: 992px) {
  .header li a {
    padding: 30px 30px 10px 30px;
  }
}
