.banner{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-bottom: 440px;
  /* bottom: 84px; */
}
.cabecalho h1{
  font-size: 50px;
  color: #fff;
  font-weight: 800;
}
.cabecalho img{
  width: 47px;
  filter: invert(1);
}
.cabecalho {
  top: 300px;
  position: relative;
}
span.cabecalho-titulo {
  position: absolute;
  padding-top: 0;
  color: #fff;
  font-size: 27px;
  font-weight: 800;
  line-height: 36px;
}
span.cabecalho-categoria {
  position: relative;
  top: 0;
  color: #fff;
}

section.postagem {
  margin-top: 35px;
}
.head {
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(21,45,27, 0.8);
}
.a2a_kit.a2a_kit_size_32.a2a_default_style {
  float: left;
  margin-top: 10px;
}
section.postagem .breadcrumb .rota{
  font-size: 16px;
}
section.postagem .breadcrumb .rota a{
  color: #000;
}
section.postagem .breadcrumb .data{
  font-size: 15px;
  color: #58595b;
}
section.postagem .texto{
  color: #58595b;
  padding-top: 30px;
  padding-bottom: 40px;
}
section.postagem .texto p{
  font-size: 16px;
  line-height: 23px;
}

@media all and (min-width:576px) {
  span.cabecalho-titulo {
    padding-top: 0px;
  }
  span.cabecalho-categoria {
    top: 0px;
  }
}
@media all and (min-width:768px) {
  .a2a_kit.a2a_kit_size_32.a2a_default_style {
    float: right;
    margin-top: -25px;
  }
  span.cabecalho-titulo {
    font-size: 42px;
    line-height: 44px;
  }
}
@media all and (min-width:992px) {
  span.cabecalho-titulo {
    font-size: 50px;
    line-height: 55px;
  }
}
